<!DOCTYPE html>
<html>
    <head>
        <title>Control the robot!</title>
        <link href="../Content/style.css" rel="stylesheet" />
        <script src="../Scripts/jquery-2.1.4.js"></script>
        <script src="../Scripts/angular.js"></script>
        <script src="../Scripts/jquery.signalR-2.2.0.js"></script>
        <script src="@System.Web.Configuration.WebConfigurationManager.AppSettings["HubsUrl"]"></script>
    </head>
    <body ng-app="RemoteControlApp">
        <h1>I AM UR ROBOT</h1>
        <section ng-controller="ActionCenterController as center">
            <h2>MODE</h2>
            <ul>
                <li ng-if="!center.state.locked" ng-click="center.api.lockRobot()">LOCK</li>
                <li ng-if="center.state.locked" ng-click="center.api.unlockRobot()">UNLOCK</li>
            </ul>

            <p>{{ center.state.message }}</p>

        </section>

        <script>
            function getHubsUrl() {
                return '@System.Web.Configuration.WebConfigurationManager.AppSettings["HubsUrl"]';
            }
        </script>
        <script src="/App/app.module.js"></script>
        <script src="/App/Services/robot.service.js"></script>        
        <script src="/App/Features/ActionCenter/actioncenter.controller.js"></script>
    </body>
</html>
